{{> preloader}}
<section id="blog" class="blog editblog">
    <div class="contain">
        <div class="containt-wrapper">
            <div class="blog-title">
                <h1>Edit Blog Post</h1>
            </div>
            <div class="form-control">
                <form action="/editblog/{{blog.id }}" method="post" class="blog-form" enctype="multipart/form-data">
                    <label for="title">Title</label><br />
                    <input value="{{blog.title}}" required class="input-form" type="text" id="title"
                        name="title" /><br />
                    <label for="content">Content</label><br />
                    <textarea required class="input-form" name="content" id="content" cols="30" rows="10">
                        {{blog.content}} 
                    </textarea>
                    <br />
                    <div class="upload-wrapper">
                        <label for="image-upload">Upload Image</label><br />
                        <div class="input-container d-flex justify-content-between">
                            <input type="file" id="image-upload" name="image" class="upload-input" accept="image/*"
                                hidden />

                            <label style="padding: 8px 15px; min-width: 9rem;" for="image-upload"
                                class="file-label bg-primary h-100 text-white m-0 rounded-4">
                                Choose a file
                            </label>

                            <div class="w-100 d-flex justify-content-between px-2">
                                <span id="fileName" class="file-name">
                                    {{#if blog.image}}
                                    {{blog.image}}
                                    {{else}}
                                    No file
                                    {{/if}}
                                </span>
                                <label class=" text-center p-0 m-0" for="image-upload">
                                    <img width="25px" src="/img/svg/attachment-attach-svgrepo-com.svg"
                                        alt="Attachment Icon" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="btn-submit">Submit</button>
                    {{!-- <button onclick="addBlog(event)" class="btn-submit">Submit</button> --}}
                </form>
            </div>
        </div>
</section>


<script>
  const fileInput = document.getElementById("image-upload");
  const fileNameDisplay = document.getElementById("fileName");

  fileInput.addEventListener("change", () => {
    if (fileInput.files.length > 0) {
      fileNameDisplay.textContent = fileInput.files[0].name;
    } else {
      fileNameDisplay.textContent = "No file";
    }
  });
</script>